@model UserModel
@{
    ViewData["Title"] = "Scandinavian Food";
}

<div class="text-center">
    <h1 class="display-4">Scandinavian Food</h1>
    <p>
        This site will feature images, recipes, and information
        surrounding Scandinavian food.
    </p>
    <p><a href="/Home/Overview">Overview</a></p>
    <p><a href="/Home/Forum">Forum</a></p>
    <table>
        <tr>
            <th>User</th>
        </tr>
        @foreach (UserModel user in ViewBag.users)
         {
        <tr>
            <td>@user.Name</td>
        </tr>
         }
    </table>
    <form asp-controller="Home" method="post">
        Name: <input asp-for="Name" />
        <button type="submit">Submit</button>
    </form>
</div>
