@{
    ViewData["Title"] = "Scandinavian Food";
}

<div class="text-center">
    <h1 class="display-4">Scandinavian Food</h1>
    <p>This site will feature images, recipes, and information
    surrounding Scandinavian food.</p>
</div>
